@using DanlupDateTime
@page "/"



<PageTitle>danlup datetime </PageTitle>

<h1>Hi there</h1>

This very simple control doens't use JavaScript, can be initialized to a date value and will raise an event after user selection.

I was struggling with the native DateTimePicker as it lacks some customization, though I couldnt find anything.. well yes component from big companies but I prefer write my code so I decided to write a very simple one as the logic is quite simple.

This control is not optimized just left it simple and very basicx in order to allow everybody to use it and take advantage..

Every suggestion is welcome.

Happy coding




<DanlupDateTime></DanlupDateTime>