@using Microsoft.AspNetCore.Components.Web
<div class="@daySelected" @onmousedown="mouseClick">@(day > 0 ? $"{day}" : "")</div>

@code {
    [Parameter]
    public int day { get; set; }

    [CascadingParameter(Name = "currentDay")]
    public DateTime currentDay { get; set; }

    [Parameter]
    public EventCallback<int> MouseClick { get; set; }

    public void mouseClick()
    {
        MouseClick.InvokeAsync(day);
    }

    private string daySelected => (day == currentDay.Day? "daySelected" : "");
    
}
